.back{
    margin-top: 5px;
    background-color: yellow;
    color: black;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}

body{
    background-color: #90E0EF;
}

h3 {
    text-align: center;
  
  
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.social-links a {
    color: var(--text-light);
    font-size: 1.5rem;
    transition: var(--transition);
}

.social-links a:hover {
    transform: translateY(-5px);
    color: var(--dark-color);
}

.parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('1D-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.2;
}

a {
    text-decoration: none;
}