p{
    text-align: center;
    
}

 .about, .biodata, .hobbies{
    background-color: blue;
    width: 120px;
    height: 50px;
    border: transparent;
    border-radius: 100%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 50px;

}

.back{
    margin-top: 10px;
    background-color:yellow;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}



h1 {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    background: linear-gradient(135deg, #E4AEC5, #C69B7B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

a {
    text-decoration: none; /* HILANGKAN GARIS BAWAH */
    color: black;
    padding: 10px;
    display: inline-block;
}

body{
    background-color: #90E0EF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
}




  

